body{
    background-color: rgb(255, 255, 255);
   

}
#main{

position: center;

    margin-left:350px;
    background-image: url("Screenshot_20201030-181956.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    
}
/*#image{
    width: 100%;
    height:auto;
    max-width:625px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}*/
#image{
    width:150px;
    height:150px;
    border-radius: 50%;
    border: 2px rgb(255, 255, 255) solid;
}
#title{
    
    color:rgb(255, 255, 255);
    padding-top: 20px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
   
    
}
#back{
    margin-left:65px;
    
   
}
#img-div{
    margin-left: 200px;
    
   
    height: 150px;
    width:180px;
   
    
}
#tribute-info{
   margin-top: 100px;
   text-indent: 30px;
   margin-left:10px;
   margin-right: 415px;
  color:white;
  height: 210px;
   border-style: double;
   border-right-style: solid;
   border-left-style: solid;
   border-radius: 5px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 10px;
   padding-right: 10px;
   border-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.07);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:13px;

backdrop-filter: blur(5px);
}
#img-caption{
    text-align: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
